body{
    font-family: helvetica, arial, sans-serif;
    background-color:antiquewhite;
}

#game{
    background-color:black;
    display:none;
    grid-template-columns: repeat(3, calc(50vw/3)); /* 3 equal columns, each 1/3 of the viewport width */
    grid-template-rows: repeat(3, calc(50vw/3));    /* 3 equal rows, each 1/3 of the viewport width */
    gap: 5px;
    width: 50vw; /* 30% of the viewport width */
    aspect-ratio: 1 / 1; /* Ensures it remains a perfect square */
    left:  50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Moves it back by half its own width and height */
    position: absolute;
}

.space{
    background-color:blanchedalmond;
    position: relative;
}

#game_end_menu{
    border: 2px groove rgb(13, 131, 131);
    background-color:lightgoldenrodyellow;
    left:  50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Moves it back by half its own width and height */
    position: absolute;
    display: none;
    display: flex;
    text-align: center;
    flex-direction: column;  /* Stacks children vertically */
    justify-content: center;  /* Centers vertically */
    align-items: center;  /* Centers horizontally */
}

#play_button{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Moves it back by half its own width and height */
    width: 20%;
    height: 10%;
    position: absolute;
}
